@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.fab {
    left: calc(50% + 80px)
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.hour_line {
    transform: rotate( 120deg);
}

